//partials/_layout.scss

.hero {
	span {
		display: block;
	}
	.container {
		height: 390px;
		background: url(../img/hero.jpg);
		border-bottom: 1px solid $color-white;
	}
	.hero-content {
		width: 350px;
		position: absolute;
		left: 60px;
		top: 100px;
	}
}

section {
	clear: both;
	&.category {
		.category-heading {
			width: 480px;
			height: 240px;
			float: left;
			display: table;
			h2 {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				height: 238px;
				border: 1px solid $color-white;
				color: $color-white;
				font-size: 40px;
				font-weight: bold;
				&#one-day {
					background: url(../img/category-bg-green.jpg);
				}
				&#two-week {
					background: url(../img/category-bg-blue.jpg);
				}
				.icon {
					font-size: 60px;
					padding-right: 20px;
					position: relative;
					top: 10px;
				}
			}
		}
		.container {
			overflow: hidden;
			background: url(../img/tile-bg.png);
		}
	}
}

.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.product {
	width: 240px;
	height: 240px;
	float: left;
	.product-content {
		position: relative;
		height: 238px;
		background: $color-extra-light-grey;
		border: 1px solid $color-white;
		&.empty {
			background: none;
		}
	}
	a {
		font-size: 14px;
		line-height: 18px;
		color: $color-green;
		span {
			display: block;
			padding: 0 12px;
		}
	}
	.price-list {
		position: absolute;
		bottom: 0;
		padding: 0 12px 12px;
		color: $color-grey;
		.pack-size {
			font-size: 11px;
		}
		.pack-price {
			font-size: 14px;
			font-weight: bold;
		}
	}
}

.product-grid {
	width: 480px;
	float: left;
}

.banner {
	width: 480px;
	height: 480px;
	float: left;
	img {
		display: block;
		border: 1px solid $color-white;
	}
}

.footnotes {
	font-size: 11px;
	line-height: 14px;
	color: $color-light-grey;
	.container {
		padding: 30px 0;
	}
}

.legal {
	font-size: 10px;
	line-height: 14px;
	font-family: Verdana, sans-serif;
	color: $color-light-grey;
	.container {
		padding: 30px;
	}
	.logo {
		width: 148px;
		height: 40px;
		background: url(../img/jnj-logo.png);
		background-size: contain;
		text-indent: -100%;
		margin: 0 auto;
	}
}
